<app-block-ui [isBlocked]="isBlocked"></app-block-ui>
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-10">
                        <h1 class="m-0 text-dark" *ngIf="!isEdit">Create Category</h1>
                        <h1 class="m-0 text-dark" *ngIf="isEdit">Update Category</h1>
                    </div>
                    <div *ngIf="isEdit" class="col-sm-2 float-sm-right"> <button type="button"
                            class="btn btn-block btn-danger" (click)="confirmationModal.showModal()">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-delete-modal #confirmationModal [message]="'Do you want to delete the selected category'" (delete)="delete()">
</app-delete-modal>

<div class="row">
    <div class="col-md-6">
        <div class="card card-primary">
            <form [formGroup]="categoryForm">
                <div class="card-body">
                    <div class="form-group">
                        <label for="category">Category :</label>
                        <input type="text" class="form-control" id="category" placeholder="Enter category"
                            formControlName="name">
                        <div [hidden]="categoryForm.get('name').valid || (categoryForm.get('name').pristine && !isFormSubmitted)"
                            class="alert alert-warning">
                            <small *ngIf="categoryForm.get('name').errors && categoryForm.get('name').errors.required">
                                Category Name is Required
                                <br>
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description">Description :</label>
                        <textarea class="form-control" rows="6" placeholder="Enter ..."
                            formControlName="description"></textarea>
                    </div>
                </div>

                <div class="card-footer">
                    <button *ngIf="!isEdit" type="button" class="btn btn-primary float-sm-right"
                        (click)="save()">Save</button>
                    <button *ngIf="isEdit" type="button" class="btn btn-primary float-sm-right"
                        (click)="updateConfirmationModal.showModal()">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>

<app-update-modal #updateConfirmationModal [message]="'Do you want to update the selected category'" (update)="update()">
</app-update-modal>